Bank Data Analysis

Objective: Predict customer who will sign deposit

Source from: Pacmann Academy

1. Importing Data to Python

In [1]:
#import data
import pandas as pd
import numpy as np

#load data
bank_df = pd.read_csv('bank-data.csv')
bank_df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58.0,management,married,tertiary,no,2143.0,yes,no,unknown,NaN,NaN,261.0,1.0,-1.0,0.0,unknown,no
1,NaN,technician,single,secondary,no,29.0,yes,no,unknown,5.0,may,151.0,1.0,-1.0,0.0,unknown,no
2,NaN,entrepreneur,married,secondary,no,2.0,yes,yes,unknown,5.0,may,76.0,1.0,-1.0,0.0,unknown,no
3,NaN,blue-collar,married,unknown,no,1506.0,yes,no,unknown,5.0,may,92.0,1.0,-1.0,0.0,unknown,no
4,33.0,unknown,single,unknown,no,1.0,no,no,NaN,5.0,may,198.0,1.0,-1.0,0.0,unknown,no

In [2]:
#check table size
bank_df.shape

(45211, 17)

In [3]:
#check & drop duplicated data
duplicated_status = bank_df.duplicated()
duplicated_status

0        False
1        False
2        False
3        False
4        False
         ...
45206    False
45207    False
45208    False
45209    False
45210    False
Length: 45211, dtype: bool

In [4]:
duplicated_status.sum()

0

In [5]:
bank_df = bank_df.drop_duplicates()

In [6]:
bank_df.shape

(45211, 17)

In [7]:
bank_df = pd.read_csv("bank-data.csv")
print("Data asli            : ", bank_df.shape, "- (#observasi, #kolom)")

bank_df = bank_df.drop_duplicates()
print("Data setelah di-drop : ", bank_df.shape, "- (#observasi, #kolom)")

Data asli            :  (45211, 17) - (#observasi, #kolom)
Data setelah di-drop :  (45211, 17) - (#observasi, #kolom)

In [8]:
def importData(filename):
    """
    Function to import data & drop duplicated data
    :param filename: <string> nama file (format.csv)
    :return df: <pandas DataFrame> sample data
    """

    bank_df = pd.read_csv(filename)
    print("Data asli            : ", bank_df.shape, "- (#observasi, #kolom)")

    bank_df = bank_df.drop_duplicates()
    print("Data setelah di-drop : ", bank_df.shape, "- (#observasi, #kolom)")

    return bank_df

In [9]:
#input data
file_bank = 'bank-data.csv'

#call function
bank_df = importData(filename= file_bank)

Data asli            :  (45211, 17) - (#observasi, #kolom)
Data setelah di-drop :  (45211, 17) - (#observasi, #kolom)

In [10]:
bank_df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58.0,management,married,tertiary,no,2143.0,yes,no,unknown,NaN,NaN,261.0,1.0,-1.0,0.0,unknown,no
1,NaN,technician,single,secondary,no,29.0,yes,no,unknown,5.0,may,151.0,1.0,-1.0,0.0,unknown,no
2,NaN,entrepreneur,married,secondary,no,2.0,yes,yes,unknown,5.0,may,76.0,1.0,-1.0,0.0,unknown,no
3,NaN,blue-collar,married,unknown,no,1506.0,yes,no,unknown,5.0,may,92.0,1.0,-1.0,0.0,unknown,no
4,33.0,unknown,single,unknown,no,1.0,no,no,NaN,5.0,may,198.0,1.0,-1.0,0.0,unknown,no

2. Data Pre Processing

input - output split, train test split
processing categorical
imputation, normalization, drop duplicates

input - output split

In [11]:
bank_df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58.0,management,married,tertiary,no,2143.0,yes,no,unknown,NaN,NaN,261.0,1.0,-1.0,0.0,unknown,no
1,NaN,technician,single,secondary,no,29.0,yes,no,unknown,5.0,may,151.0,1.0,-1.0,0.0,unknown,no
2,NaN,entrepreneur,married,secondary,no,2.0,yes,yes,unknown,5.0,may,76.0,1.0,-1.0,0.0,unknown,no
3,NaN,blue-collar,married,unknown,no,1506.0,yes,no,unknown,5.0,may,92.0,1.0,-1.0,0.0,unknown,no
4,33.0,unknown,single,unknown,no,1.0,no,no,NaN,5.0,may,198.0,1.0,-1.0,0.0,unknown,no

In [12]:
# set the output

output_data = bank_df['y']

In [13]:
output_data.head()

0    no
1    no
2    no
3    no
4    no
Name: y, dtype: object

In [14]:
# set the input
input_data = bank_df.drop(['y'], axis=1)

In [15]:
input_data.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome
0,58.0,management,married,tertiary,no,2143.0,yes,no,unknown,NaN,NaN,261.0,1.0,-1.0,0.0,unknown
1,NaN,technician,single,secondary,no,29.0,yes,no,unknown,5.0,may,151.0,1.0,-1.0,0.0,unknown
2,NaN,entrepreneur,married,secondary,no,2.0,yes,yes,unknown,5.0,may,76.0,1.0,-1.0,0.0,unknown
3,NaN,blue-collar,married,unknown,no,1506.0,yes,no,unknown,5.0,may,92.0,1.0,-1.0,0.0,unknown
4,33.0,unknown,single,unknown,no,1.0,no,no,NaN,5.0,may,198.0,1.0,-1.0,0.0,unknown

In [16]:
#recreate the method into function

output_data = bank_df['y']
input_data = bank_df.drop(['y'], axis=1)

def extractInputOutput(data, output_column_name):
    """"
    function to split the input and output
    :param data: <pandas dataframe> data all sample
    :param output_column_name: <string> nama all column
    :return input_data: <pandas dataframe> data input
    :return output_data: <pandas dataframe> data output 
    """

    output_data = data[output_column_name]
    input_data = data.drop(output_column_name, axis = 1)

    return input_data, output_data

In [17]:
#call the function
X, y = extractInputOutput(data = bank_df, output_column_name= 'y')

In [18]:
X.head(2)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome
0,58.0,management,married,tertiary,no,2143.0,yes,no,unknown,NaN,NaN,261.0,1.0,-1.0,0.0,unknown
1,NaN,technician,single,secondary,no,29.0,yes,no,unknown,5.0,may,151.0,1.0,-1.0,0.0,unknown

In [19]:
y.head(2)

0    no
1    no
Name: y, dtype: object

Train Test Split

In [20]:
#import module

from sklearn.model_selection import train_test_split

**Train Test Split Function**
1. `X` adalah input
2. `y` adalah output (target)
3. `test_size` = 25% data.
4. `random_state` = choosen specified number.
5. Output:
   - `X_train` = input dari data training
   - `X_test` = input dari data testing
   - `y_train` = output dari data training
   - `y_test` = output dari data testing
6. Urutan outputnya: `X_train, X_test, y_train, y_test`.

In [21]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=12)

In [22]:
print(X_train.shape)
print(X_test.shape)

(33908, 16)
(11303, 16)

In [23]:
#ratio test size
X_test.shape[0] / len(X)

0.25000552962774547

Data Imputation
- numerical imputation
- categorical imputation

In [24]:
#check missing value
X_train.isnull().sum()

age          2626
job          2650
marital      2650
education    2542
default      2689
balance      2574
housing      2660
loan         2668
contact      2695
day          2617
month        2602
duration     2701
campaign     2614
pdays        2634
previous     2638
poutcome     2629
dtype: int64

In [25]:
# split between numerical & categorical
X_train.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome
37156,35.0,management,single,tertiary,no,2749.0,no,no,cellular,13.0,may,127.0,1.0,-1.0,0.0,unknown
20494,30.0,management,NaN,NaN,no,443.0,yes,NaN,cellular,12.0,NaN,80.0,2.0,-1.0,0.0,unknown
35272,39.0,management,NaN,tertiary,no,4239.0,yes,no,cellular,7.0,may,40.0,1.0,-1.0,0.0,unknown
22260,49.0,services,NaN,NaN,no,400.0,no,no,cellular,21.0,aug,151.0,3.0,-1.0,0.0,unknown
2728,28.0,technician,single,secondary,no,468.0,yes,no,unknown,13.0,may,152.0,3.0,-1.0,0.0,unknown

In [26]:
X_train.columns

Index(['age', 'job', 'marital', 'education', 'default', 'balance', 'housing',
       'loan', 'contact', 'day', 'month', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome'],
      dtype='object')

In [27]:
numerical_column = ["age", "balance", "day", "duration", 
                    "campaign", "pdays", "previous"]

In [28]:
#define only numerical table
X_train_numerical = X_train[numerical_column]
X_train_numerical.head()

        age  balance   day  duration  campaign  pdays  previous
37156  35.0   2749.0  13.0     127.0       1.0   -1.0       0.0
20494  30.0    443.0  12.0      80.0       2.0   -1.0       0.0
35272  39.0   4239.0   7.0      40.0       1.0   -1.0       0.0
22260  49.0    400.0  21.0     151.0       3.0   -1.0       0.0
2728   28.0    468.0  13.0     152.0       3.0   -1.0       0.0

In [29]:
#check missing value in numerical only table
X_train_numerical.isnull().any()

age         True
balance     True
day         True
duration    True
campaign    True
pdays       True
previous    True
dtype: bool

In [30]:
#use imputer from sklearn for numeric imputation
from sklearn.impute import SimpleImputer

In [31]:
#fill NaN value with median data
imputer = SimpleImputer(missing_values=np.nan, strategy='median')

In [32]:
#fit():  to calculate mean & median for each column
imputer.fit(X_train_numerical)

#transform(): to fill the meand & median which calculated earlier into table
imputed_data = imputer.transform(X_train_numerical)
X_train_numerical_imputed = pd.DataFrame(imputed_data)

#fill the column name with X_train_numerical column name, since transform will eliminate the column name
X_train_numerical_imputed.columns = X_train_numerical.columns

#fill index number with X_train_numerical index number, since transform will eliminate the index
X_train_numerical_imputed.index = X_train_numerical.index

In [33]:
#recheck if missing value still exists
X_train_numerical_imputed.isnull().any()

age         False
balance     False
day         False
duration    False
campaign    False
pdays       False
previous    False
dtype: bool

In [34]:
#recreate all method above into function
def numericalImputation(data, numerical_column):
    """
    Function to do numeric imputation
    :param data: <pandas dataframe> sample data input
    :param numerical_column: <list> list kolom numerik data
    :return X_train_numerical: <pandas dataframe> data numerik
    :return imputer_numerical: numerical imputer method
    """
    # Filter data numerik
    numerical_data = data[numerical_column]

    # Buat imputer
    imputer_numerical = SimpleImputer(missing_values = np.nan,
                                      strategy = "median")
    imputer_numerical.fit(numerical_data)

    # Transform
    imputed_data = imputer_numerical.transform(numerical_data)
    numerical_data_imputed = pd.DataFrame(imputed_data)

    numerical_data_imputed.columns = numerical_column
    numerical_data_imputed.index = numerical_data.index

    return numerical_data_imputed, imputer_numerical

In [35]:
#input
numerical_column = ["age", "balance", "day", "duration", 
                    "campaign", "pdays", "previous"]

# call function for numeric imputation
X_train_numerical, imputer_numerical = numericalImputation(data = X_train, numerical_column = numerical_column)

In [36]:
#check the missing value existance
X_train_numerical.isnull().any()

age         False
balance     False
day         False
duration    False
campaign    False
pdays       False
previous    False
dtype: bool

In [37]:
#categorical imputation

#define categorical only table
X_train_column = list(X_train.columns)
categorical_column = list(set(X_train_column).difference(set(numerical_column)))

In [38]:
categorical_column

['loan',
 'default',
 'contact',
 'month',
 'poutcome',
 'education',
 'housing',
 'marital',
 'job']

In [39]:
#check missing value in categorical columns
categorical_data = X_train[categorical_column]
categorical_data.isnull().sum()

loan         2668
default      2689
contact      2695
month        2602
poutcome     2629
education    2542
housing      2660
marital      2650
job          2650
dtype: int64

In [40]:
#fill the missing value with word "Kosong"

categorical_data = X_train[categorical_column]
categorical_data = categorical_data.fillna(value="KOSONG")

In [41]:
categorical_data.isnull().sum()

loan         0
default      0
contact      0
month        0
poutcome     0
education    0
housing      0
marital      0
job          0
dtype: int64

In [42]:
#recreate method above into function

def categoricalImputation(data, categorical_column):
    """
    function to do categorical imputation
    :param data: <pandas DataFrame> sample data input
    :param categorical_column: <list> list column categorical data
    :return categorical_data: <pandas dataframe> categorical data
    """

    categorical_data = data[categorical_column]
    categorical_data = categorical_data.fillna(value="KOSONG")

    return categorical_data

In [43]:
X_train_categorical = categoricalImputation(data=X_train, categorical_column=categorical_column)

In [44]:
X_train_categorical.isnull().sum()

loan         0
default      0
contact      0
month        0
poutcome     0
education    0
housing      0
marital      0
job          0
dtype: int64

Preporcessing categorical variables using OHE (One Hot Encoding)

In [45]:
categorical_ohe = pd.get_dummies(X_train_categorical)

In [46]:
categorical_ohe.head()

,loan_KOSONG,loan_no,loan_yes,default_KOSONG,default_no,default_yes,contact_KOSONG,contact_cellular,contact_telephone,contact_unknown,...,job_entrepreneur,job_housemaid,job_management,job_retired,job_self-employed,job_services,job_student,job_technician,job_unemployed,job_unknown
37156,0,1,0,0,1,0,0,1,0,0,...,0,0,1,0,0,0,0,0,0,0
20494,1,0,0,0,1,0,0,1,0,0,...,0,0,1,0,0,0,0,0,0,0
35272,0,1,0,0,1,0,0,1,0,0,...,0,0,1,0,0,0,0,0,0,0
22260,0,1,0,0,1,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
2728,0,1,0,0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0

In [47]:
#recreate it into function

def extractCategorical(data, categorical_column):
    """
    Function to extract categorical data using One Hot Encoding
    :param data: <pandas dataframe> data sample
    :param categorical_column: <list> list of categorical column
    :return categorical_ohe: <pandas dataframe> data sample with ohe
    """

    data_categorical = categoricalImputation(data = data, categorical_column=categorical_column)
    categorical_ohe = pd.get_dummies(data_categorical)

    return categorical_ohe

In [48]:
#call the function
X_train_categorical_ohe = extractCategorical(data=X_train, categorical_column=categorical_column)
X_train_categorical_ohe.head()

,loan_KOSONG,loan_no,loan_yes,default_KOSONG,default_no,default_yes,contact_KOSONG,contact_cellular,contact_telephone,contact_unknown,...,job_entrepreneur,job_housemaid,job_management,job_retired,job_self-employed,job_services,job_student,job_technician,job_unemployed,job_unknown
37156,0,1,0,0,1,0,0,1,0,0,...,0,0,1,0,0,0,0,0,0,0
20494,1,0,0,0,1,0,0,1,0,0,...,0,0,1,0,0,0,0,0,0,0
35272,0,1,0,0,1,0,0,1,0,0,...,0,0,1,0,0,0,0,0,0,0
22260,0,1,0,0,1,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
2728,0,1,0,0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0

In [49]:
# keep the column name into variable so it can be used in testing data 
ohe_columns = X_train_categorical_ohe.columns
ohe_columns

Index(['loan_KOSONG', 'loan_no', 'loan_yes', 'default_KOSONG', 'default_no',
       'default_yes', 'contact_KOSONG', 'contact_cellular',
       'contact_telephone', 'contact_unknown', 'month_KOSONG', 'month_apr',
       'month_aug', 'month_dec', 'month_feb', 'month_jan', 'month_jul',
       'month_jun', 'month_mar', 'month_may', 'month_nov', 'month_oct',
       'month_sep', 'poutcome_KOSONG', 'poutcome_failure', 'poutcome_other',
       'poutcome_success', 'poutcome_unknown', 'education_KOSONG',
       'education_primary', 'education_secondary', 'education_tertiary',
       'education_unknown', 'housing_KOSONG', 'housing_no', 'housing_yes',
       'marital_KOSONG', 'marital_divorced', 'marital_married',
       'marital_single', 'job_KOSONG', 'job_admin.', 'job_blue-collar',
       'job_entrepreneur', 'job_housemaid', 'job_management', 'job_retired',
       'job_self-employed', 'job_services', 'job_student', 'job_technician',
       'job_unemployed', 'job_unknown'],
      dtype='object')

Join Numeric & Categorical Data

In [50]:
#join using the numeric & categorical data

X_train_concat = pd.concat([X_train_numerical, X_train_categorical_ohe], axis = 1)
X_train_concat.head()

,age,balance,day,duration,campaign,pdays,previous,loan_KOSONG,loan_no,loan_yes,...,job_entrepreneur,job_housemaid,job_management,job_retired,job_self-employed,job_services,job_student,job_technician,job_unemployed,job_unknown
37156,35.0,2749.0,13.0,127.0,1.0,-1.0,0.0,0,1,0,...,0,0,1,0,0,0,0,0,0,0
20494,30.0,443.0,12.0,80.0,2.0,-1.0,0.0,1,0,0,...,0,0,1,0,0,0,0,0,0,0
35272,39.0,4239.0,7.0,40.0,1.0,-1.0,0.0,0,1,0,...,0,0,1,0,0,0,0,0,0,0
22260,49.0,400.0,21.0,151.0,3.0,-1.0,0.0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
2728,28.0,468.0,13.0,152.0,3.0,-1.0,0.0,0,1,0,...,0,0,0,0,0,0,0,1,0,0

In [51]:
#check missing values
X_train_concat.isnull().any()

age                    False
balance                False
day                    False
duration               False
campaign               False
pdays                  False
previous               False
loan_KOSONG            False
loan_no                False
loan_yes               False
default_KOSONG         False
default_no             False
default_yes            False
contact_KOSONG         False
contact_cellular       False
contact_telephone      False
contact_unknown        False
month_KOSONG           False
month_apr              False
month_aug              False
month_dec              False
month_feb              False
month_jan              False
month_jul              False
month_jun              False
month_mar              False
month_may              False
month_nov              False
month_oct              False
month_sep              False
poutcome_KOSONG        False
poutcome_failure       False
poutcome_other         False
poutcome_success       False
poutcome_unknown       False
education_KOSONG       False
education_primary      False
education_secondary    False
education_tertiary     False
education_unknown      False
housing_KOSONG         False
housing_no             False
housing_yes            False
marital_KOSONG         False
marital_divorced       False
marital_married        False
marital_single         False
job_KOSONG             False
job_admin.             False
job_blue-collar        False
job_entrepreneur       False
job_housemaid          False
job_management         False
job_retired            False
job_self-employed      False
job_services           False
job_student            False
job_technician         False
job_unemployed         False
job_unknown            False
dtype: bool

Standardize variables

In [53]:
#import module for starndadizing
from sklearn.preprocessing import StandardScaler

#creata function for standardize
def standardizeData(data):
    """
    Function to standardize data
    :param data: <pandas dataframe> sampel data
    :return standardized_data: <pandas dataframe> sampel data standard
    :return standardizer: standardize method
    """

    data_columns = data.columns
    data_index = data.index

    #create fit standardizer
    standardizer = StandardScaler()
    standardizer.fit(data)

    #transform data
    standardized_data_raw = standardizer.transform(data)
    standardized_data = pd.DataFrame(standardized_data_raw)
    standardized_data.columns = data_columns
    standardized_data.index = data_index

    return standardized_data, standardizer

In [54]:
X_train_clean, standardizer = standardizeData(data = X_train_concat)
X_train_clean.head()

,age,balance,day,duration,campaign,pdays,previous,loan_KOSONG,loan_no,loan_yes,...,job_entrepreneur,job_housemaid,job_management,job_retired,job_self-employed,job_services,job_student,job_technician,job_unemployed,job_unknown
37156,-0.568886,0.502047,-0.354434,-0.504073,-0.569761,-0.390255,-0.292138,-0.292238,0.543266,-0.418762,...,-0.177174,-0.161796,2.041018,-0.221001,-0.182418,-0.303041,-0.137592,-0.425647,-0.165313,-0.07566
20494,-1.058043,-0.288093,-0.479210,-0.693995,-0.236736,-0.390255,-0.292138,3.421863,-1.840720,-0.418762,...,-0.177174,-0.161796,2.041018,-0.221001,-0.182418,-0.303041,-0.137592,-0.425647,-0.165313,-0.07566
35272,-0.177561,1.012588,-1.103089,-0.855631,-0.569761,-0.390255,-0.292138,-0.292238,0.543266,-0.418762,...,-0.177174,-0.161796,2.041018,-0.221001,-0.182418,-0.303041,-0.137592,-0.425647,-0.165313,-0.07566
22260,0.800752,-0.302827,0.643772,-0.407091,0.096289,-0.390255,-0.292138,-0.292238,0.543266,-0.418762,...,-0.177174,-0.161796,-0.489952,-0.221001,-0.182418,3.299879,-0.137592,-0.425647,-0.165313,-0.07566
2728,-1.253705,-0.279527,-0.354434,-0.403050,0.096289,-0.390255,-0.292138,-0.292238,0.543266,-0.418762,...,-0.177174,-0.161796,-0.489952,-0.221001,-0.182418,-0.303041,-0.137592,2.349365,-0.165313,-0.07566

3. Training Machine Learning

In [55]:
#Benchmark
#checking the baseline accuracy: able to predict "No" output with 88% accuracy
y_train.value_counts(normalize= True)

no     0.882624
yes    0.117376
Name: y, dtype: float64

In [56]:
#1. Import Modulle
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier

In [57]:
#2. Fitting Model - K nearest Neighbor

knn = KNeighborsClassifier()
knn.fit(X_train_clean, y_train)

KNeighborsClassifier()

In [58]:
#2. Fitting Model - Logistic Regression

logreg = LogisticRegression(random_state = 123)
logreg.fit(X_train_clean, y_train)

LogisticRegression(random_state=123)

In [59]:
#2. Fitting Model - Random Forest Classifier
random_forest = RandomForestClassifier(random_state = 123)
random_forest.fit(X_train_clean, y_train)

RandomForestClassifier(random_state=123)

In [60]:
# Model Random Forest Classifier 1
# change hyperparameter from random forest --> n_estimator
# n_estimator = 500

random_forest_1 = RandomForestClassifier(random_state = 123,
                                         n_estimators = 500)
random_forest_1.fit(X_train_clean, y_train)

RandomForestClassifier(n_estimators=500, random_state=123)

In [61]:
#3. Prediction
logreg.predict(X_train_clean)

array(['no', 'no', 'no', ..., 'no', 'no', 'yes'], dtype=object)

In [62]:
# predict using logreg
predicted_logreg = pd.DataFrame(logreg.predict(X_train_clean))
predicted_logreg

         0
0       no
1       no
2       no
3       no
4       no
...    ...
33903   no
33904   no
33905   no
33906   no
33907  yes

[33908 rows x 1 columns]

In [63]:
# predict using K nearest neighbor
predicted_knn = pd.DataFrame(knn.predict(X_train_clean))
predicted_knn.head()

    0
0  no
1  no
2  no
3  no
4  no

In [64]:
# predict using random forest
predicted_rf = pd.DataFrame(random_forest.predict(X_train_clean))
predicted_rf.head()

    0
0  no
1  no
2  no
3  no
4  no

In [65]:
# predict using random forest with estimator specified parameter
predicted_rf_1 = pd.DataFrame(random_forest_1.predict(X_train_clean))
predicted_rf_1.head()

    0
0  no
1  no
2  no
3  no
4  no

In [66]:
#4. Check Performance
benchmark = y_train.value_counts(normalize=True)[0]
benchmark

0.8826235696590775

In [67]:
# knn accuracy
knn.score(X_train_clean, y_train)

0.9098737761000354

In [68]:
# logistic regression accuracy
logreg.score(X_train_clean, y_train)

0.9005839329951634

In [69]:
# random forest accuracy
random_forest.score(X_train_clean, y_train)

1.0

In [70]:
# random forest 1 accuracy
random_forest_1.score(X_train_clean, y_train)

1.0

In [71]:
#5. save model to pickle file
import joblib

joblib.dump(logreg, "logreg.pkl")
joblib.dump(knn, "knn.pkl")
joblib.dump(random_forest, "random_forest.pkl")
joblib.dump(random_forest_1, "random_forest_1.pkl")

['random_forest_1.pkl']

In [76]:
#6. Test Prediction

def extractTest(data, numerical_column, categorical_column, ohe_columns, imputer_numerical, standardizer):
    """ 
    FUnction to extract and clean the data
    :param data: <pandas dataframe> sampel data test
    :param numerical_column: <list> kolom numerik
    :param categorical_column: <list> kolom kategorik
    :param ohe_column: <list> kolom one-hot-encoding dari data kategorik
    :param imputer_numerical: <sklearn method> imputer data numerik
    :param standardizer: <sklearn method> standardizer data
    :return cleaned_data: <pandas dataframe> data final
    """

    # Filter data
    numerical_data = data[numerical_column]
    categorical_data = data[categorical_column]

    # Process numeric data
    numerical_data = pd.DataFrame(imputer_numerical.transform(numerical_data))
    numerical_data.columns = numerical_column
    numerical_data.index = data.index

    # Process categorical data
    categorical_data = categorical_data.fillna(value="KOSONG")
    categorical_data.index = data.index
    categorical_data = pd.get_dummies(categorical_data)
    categorical_data.reindex(index = categorical_data.index, 
                             columns = ohe_columns)

    # join data
    concat_data = pd.concat([numerical_data, categorical_data],
                             axis = 1)
    cleaned_data = pd.DataFrame(standardizer.transform(concat_data))
    cleaned_data.columns = concat_data.columns

    return cleaned_data

In [77]:
def testPrediction(X_test, y_test, classifier, compute_score):
    """
    Function to get model prediction 
    :param X_test: <pandas dataframe> input
    :param y_test: <pandas series> output/target
    :param classifier: <sklearn method> model klasifikasi
    :param compute_score: <bool> True: menampilkan score, False: tidak
    :return test_predict: <list> hasil prediksi data input
    :return score: <float> akurasi model
    """
    if compute_score:
        score = classifier.score(X_test, y_test)
        print(f"Accuracy : {score:.4f}")

    test_predict = classifier.predict(X_test)

    return test_predict, score

In [78]:
X_test_clean = extractTest(data = X_test,
                           numerical_column = numerical_column,
                           categorical_column = categorical_column,
                           ohe_columns = ohe_columns,
                           imputer_numerical = imputer_numerical,
                           standardizer = standardizer)

In [79]:
X_test_clean.shape

(11303, 60)

In [80]:
# Logistic Regression Performance
logreg_test_predict, score = testPrediction(X_test = X_test_clean,
                                            y_test = y_test,
                                            classifier = logreg,
                                            compute_score = True)

Accuracy : 0.9011

In [81]:
# K nearest neighbor Performance
knn_test_predict, score = testPrediction(X_test = X_test_clean,
                                         y_test = y_test,
                                         classifier = knn,
                                         compute_score = True)

Accuracy : 0.8898

In [82]:
# Random Forest Performance
rf_test_predict, score = testPrediction(X_test = X_test_clean,
                                        y_test = y_test,
                                        classifier = random_forest,
                                        compute_score = True)

Accuracy : 0.9030

In [83]:
# Random Forest 1 Performance
rf_1_test_predict, score = testPrediction(X_test = X_test_clean,
                                          y_test = y_test,
                                          classifier = random_forest_1,
                                          compute_score = True)

Accuracy : 0.9012

4. Conclusion
- Best model in this case is using Random Forest and Logistic Regression